.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../../assets//images/prequel_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.kraken-slayer{
    position: absolute;
    z-index: 2;
    top: 730px;
    left: 690px;
    width: 150px;
    height: 150px;
    margin: 0 1em;
    border-radius: 10px;
    background: url(../../assets/images/kraken_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.kraken-slayer:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.jewel-finder{
    position: absolute;
    z-index: 2;
    top: 730px;
    left: 990px;
    width: 150px;
    height: 150px;
    margin: 0 1em;
    border-radius: 10px;
    background: url(../../assets/images/jewel_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    filter: grayscale(100%);
}

.jewel-finder:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.pirate-potion{
    position: absolute;
    top: 450px;
    left: 1190px;
    width: 150px;
    height: 150px;
    margin: 0 1em;
    border-radius: 10px;
    background: url(../../assets/images/potion_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    filter: grayscale(100%);
}

.pirate-potion:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.tarot-pirates{
    position: absolute;
    top: 450px;
    left: 1390px;
    width: 150px;
    height: 150px;
    margin: 0 1em;
    border-radius: 10px;
    background: url(../../assets/images/tarot_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    filter: grayscale(100%);
}

.tarot-pirates:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.pearl-diver{
    position: absolute;
    top: 440px;
    left: 970px;
    width: 150px;
    height: 150px;
    margin: 0 1em;
    border-radius: 10px;
    background: url(../../assets/images/pearl_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    filter: grayscale(100%);
}

.pearl-diver:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.mystical-lake{
    position: absolute;
    top: 430px;
    left: 450px;
    width: 190px;
    height: 150px;
    margin: 0 1em;
    border-radius: 10px;
    background: url(../../assets/images/lake_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    filter: grayscale(100%);
}

.mystical-lake:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}

.Galleon{
    position: absolute;
    top: 430px;
    left: 700px;
    width: 150px;
    height: 150px;
    margin: 0 1em;
    border-radius: 10px;
    background: url(../../assets/images/galleon_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.Galleon:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.content{
    position: absolute;
    bottom: 155px;
    left: -40px;
    padding: 10px;
    min-width: 350px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.3s;
}

.content .header {
    display: flex;
    align-items: center;
}

.content .header img{
    grid-column: 1/2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.content .header .infos {
    margin-left: 1em;
}

.content .header .infos .name {
    font-size: 1.25em;
    color: #333;
    letter-spacing: 1px;
    font-size: 600;
}

.content .header .infos .title {
    font-size: 0.9em;
    color: #969696;
    font-weight: 500;
}

.content .body {
    padding: 1em;
}

.content .body p{
    font-size: 0.95em;
    color: #272727;
}

.btn-play{
    margin-top: 15px;
    margin-right: 5px;
    border-radius: 15px;
    width: 100%;
    background: #6c75f5;
    white-space: nowrap;
    padding: 8px 16px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    transition: 450ms;
}

.btn-play:hover {
    background: #572cf1;
    transition: 450ms;
    padding: 8px 22px;
    color: #FFF;
}


.kraken-slayer:hover .content {
    visibility: visible;
    opacity: 1;
    transform: translateX(-15%) translateY(0px);
}

.mystical-lake:hover .content {
    visibility: visible;
    opacity: 1;
    transform: translateX(-15%) translateY(0px);
}

.Galleon:hover .content {
    visibility: visible;
    opacity: 1;
    transform: translateX(-15%) translateY(0px);
}

.pearl-diver:hover .content {
    visibility: visible;
    opacity: 1;
    transform: translateX(-15%) translateY(0px);
}

.jewel-finder:hover .content {
    visibility: visible;
    opacity: 1;
    transform: translateX(-15%) translateY(0px);
}

.pirate-potion:hover .content {
    visibility: visible;
    opacity: 1;
    transform: translateX(-15%) translateY(0px);
}

.tarot-pirates:hover .content {
    visibility: visible;
    opacity: 1;
    transform: translateX(-15%) translateY(0px);
}

